Cache*
SavedSettings*
TemporalSettingFiles*
Generated*
Doxyfile.meta

artifacts/**
build/**
.build_script/**
node_modules/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
!Doxyfile~
npm-debug.log
build.sh.meta
build.bat.meta
.idea/
